		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/profile.php?id=100013905885098" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
					<li><a href="https://www.youtube.com/channel/UCPmoNvNMQHouibYJvaA8ZDw?view_as=subscriber" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Stifany's Kitchen. All rights reserved.</li>
				</ul>
			</footer>

	</body>
</html>
